<html>
<head>
  <title>Logg Bot</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
      <div class="col-xs-4 col-sm-3 col-md-3">
        <a href="/"><img src="/static/loggbot.png" style="height: 120px;"></a>
      </div>
      <div class="col-cs-8 col-sm-9 col-md-9">
        <h1>Logg Bot <small><a href="/logout"> - logg ut</a></small></h1>
      </div>
    </div>
        <div class="row">
          <div class="col-md-12">
            <p>We are lazy. So to make logging of incidents easy, you can just tag @logg in Slack (in a channel where the bot is enabled) with some text appended after the tag, and voila, the incident is logged here.</p>
          </div>
        </div>
      {% if isAdmin == True %} <a href="/users">Se og legg til brukere</a> {% endif %}
      <h3>Available channels:</h3>
      <table>
      {% for value in result %}
         <tr>
              <td><a href="./channel/{{ value }}">{{ value }}</a></td>
         </tr>
      {% endfor %}
      </table>
      <div class="row">
        <div class="col-md-12" style="margin-top:20px;">
        <p>To enable the bot in a channel, do this: Invite the user @logg to the channel, and contact Core:Systems at #tg18-systems for admin rights.</p>
        </div>
      </div>
    </div>
</body>
</html>
