<html>
<head>
  <title>Login: Loggs</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
      <div class="col-xs-4 col-sm-3 col-md-3">
        <img src="/static/loggbot.png" style="height: 120px;">
      </div>
      <div class="col-cs-8 col-sm-9 col-md-9">

      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <p>Logg på med Wannabe credentials</p>
        <form action="" method="post">
        <p><input type="text" name="username" class="form-control" placeholder="Brukernavn"></p>
        <p><input type="password" name="password" class="form-control" placeholder="Passord"></p>
        <p><input type="submit" name="login" class="btn btn-lg btn-success" style="width: 100%;" value="Logg inn"></p>
        <p><small>NB: Får du ikke logget på med gydlige Wannabe-credentials? Brukeren din må være godkjent for pålogging.</small></p>
      </form>
      </div>
    </div>
</body>
</html>
