<html>
<head>
  <title>Logg Bot</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
      <div class="col-xs-4 col-sm-3 col-md-3">
        <img src="/static/loggbot.png" style="height: 120px;">
      </div>
      <div class="col-cs-8 col-sm-9 col-md-9">
        <h1>Logg Bot <small><a href="/logout"> - logg ut</a></small></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" style="margin-top:20px;">
        <form action="" method="post">
          <input type="text" name="username" placeholder="Wannabe brukernavn"> <select name="isAdmin">  <option value="False">Not global admin</option> <option value="True">Global admin</option></select> <button type="submit" name="submit" class="btn btn-lg btn-success">Legg til ny bruker</button>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
      <h3>Users:</h3>
      <p>Use CTRL+F (CMD+F) to search.</p>
      {% for value in users %}
              <div class="panel panel-default">
                <div class="panel-body">
                  <h3>{{ value['username'] }}<small> - Global admin: {{ value['isAdmin'] }}</small></h3>
                  <h4>Access to the following channels:</h4>
                  <ul>
                    {% for channel in value.channels %}
                      <li>{{ channel['channel'] }} - Admin: {{ channel['admin'] }}
                    {% endfor %}
                  </ul>
                </div>
              </div>
      {% endfor %}
    </div>
    </div>
    </div>
</body>
</html>
